# Node / Vite
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/.pnpm-debug.log*
/frontend/.vite/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/lerna-debug.log*
/frontend/*.local
/frontend/package-lock.json

# Python
/backend/__pycache__/
/backend/venv/
/backend/*.pyc
/backend/.env

# IDE and OS specific
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?